<html>
<body>    
    <h1>Modify Restaruant <%= restaurants[0].name %></h1>
    <%_ if (g) { %>
    <form action="/change?_id=<%= restaurants[0]._id %>" method="post" enctype="multipart/form-data">
        Name: <input type="text" name="name" value="<%= restaurants[0].name %>"><br>
        Borough: <input type="text" name="borough" value="<%= restaurants[0].borough %>"><br>
		Cuisine: <input type="text" name="cuisine" value="<%= restaurants[0].cuisine %>"><br>
        Street: <input type="text" name="street" value="<%= restaurants[0].address[0].street %>"><br>
        Building: <input type="text" name="building" value="<%= restaurants[0].address[0].building %>"><br>
        Zipcode: <input type="text" name="zipcode" value="<%= restaurants[0].address[0].zipcode %>"><br>
        GPS Coordinates (Lat.): <input type="text" name="lat" value="<%= restaurants[0].address[0].coord[0].lat %>"><br>
        GPS Coordinates (Lon.): <input type="text" name="lon" value="<%= restaurants[0].address[0].coord[0].lon %>"><br>
        Photo: <input type="file" name="photo"><br>
    <input type="submit" value="Change">
    <%_ }else{ %>
        <h3>You are not authorized to update!!! </h3> 
    <%_ } %>
    <a href="/"><button>Home</button></a>
	</form>
</body>
</html>